div, div:after, div:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  width: 100vw;
  font-size: 1em;
}
.container {
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
}
[class*="col-"] {
  float:left;
}
.grid:after {
  content: "";
  display: table;
  clear:both;
}
[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.grid-pad {
  padding: 20px 0 20px 20px;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
}
.col-4 {
  width: 40%;
}
.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-7{
  width: 70%;
}
.col-8 {
  width: 80%;
}

/* menu bar */

.header
{
  position: relative;
  height: 150px;
  min-height: ;
  background-color: black;
  color: white;
  font-size: 2em;
  z-index: 5;
  overflow-x: visible;
}

.right-logo
{
  float: right;
  padding: 10px;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: 5px;
  margin-right: 100px;
  margin-top: 20px;
}

.header ul
{
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: .3em;
  z-index: 5;
}

.header ul a
{
  display: block;
  text-decoration: none;
  font-weight: 700;
  padding: 0 15px;
  color: white;
  transition: background-color 0.2s ease;
}

.header ul a:hover
{
  background-color: white;
  color: black;
}

.header ul li
{
  position: relative;
  float: left;
  margin: 0;
  pading: 0;
  z-index: 5;
}

.header ul ul
{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  z-index: 5;
}

.header ul ul li
{
  float: none;
  width: 200px;
  padding: 5px;
}

.header ul ul a
{
  line-height: 120%;
  padding: 10px 15px;
}

.header ul ul ul
{
  top: 0;
  left: 100%;
}

.header ul li:hover > ul
{
  display: block;
}
.about
{
  font-size: .5em;
}

/* footer */

.footer {
  height: 100px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}

.footer ul {
  list-style-type: none;
}

.footer ul li {
  border-bottom: 1px solid black;
  margin-left: 3em;
  padding: 1em;
  display: inline;
}

.footer ul li a {
  text-decoration: none;
  color: black;
}

/* svg animation */

.svg-wrapper {
  position: relative;
  top: 50%;
  /*transform: translateY(-50%);*/
	  margin: 0 auto;
  width: 320px;
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #ffec46;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.space-1-4 {
  height:250px;
}

/* pseudo elements */

.img-back:before {
  background-image: url("https://pixabay.com/static/uploads/photo/2014/12/03/05/53/string-555070_960_720.jpg");
  background-size: cover;
  content: '';
  height: 615px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -100px;
  -webkit-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  transform: skewY(5deg);
  width: 100vw;
  z-index: -1;
}

.grey-back:before {
  background-color: #989898;
  background-size: cover;
  content: '';
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
  width: 100vw;
  z-index: -2;
}

.grey-lines-after:after {
  content: " ";
  top: 2500px;
  right: 100px;
  background-image: url("http://www.commentnation.com/hotlinks/gray_and_white_diagonal_stripes_background_seamless.gif");
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: absolute;
  z-index: -10;
}

.grey-lines-before:before {
  content: " ";
  top: 700px;
  background-image: url("http://www.commentnation.com/hotlinks/gray_and_white_diagonal_stripes_background_seamless.gif");
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  z-index: -10;
}

/* headers */

.title {
  font-family: "FCKaiserMed",sans-serif;
  font-size: 1.5em;
  padding: 0px;
  line-height: 1.3em;
  background-color: #ffec46;
  box-shadow: 10px 0 0 #ffec46, -10px 0 0 #ffec46;
  z-index: 1;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  color: black;
}

.title-box {
  height: 200px;
}

.inside-shape{
  -webkit-transform: skewY(7deg);
	   -moz-transform: skewY(7deg);
	     -o-transform: skewY(7deg);
}

.center{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.circle-img{
  transition: box-shadow .7s ease;
  border-radius: 50%;
  width: 600px;
  height: 600px;
  transform: translateY(-50px);
  position: relative;
  z-index: -1;
}
/*.circle-img:hover{
  box-shadow: 15px 15px 15px #888888;
}*/

/* side bars */

.sidebar-right ul{
  list-style: none;
}

.sidebar-right ul li{
  transition: box-shadow 0.3s ease;
  background-color: #ffec46;
  padding: .6em;
  margin-bottom: 2em;
  border-bottom: 1px solid black;
  text-align: right;
}

.sidebar-right ul li:hover {
  border-left: 2px solid black;
  box-shadow: 10px 10px 5px #888888;
}

.sidebar-right-links {
  padding: 1em;
  z-index: 100;
}

.sidebar-right-links ul {
  list-style-type: none;
}

.sidebar-right-links li {
  transition: box-shadow .3s ease;
  background-color: #1c1c1c;
  padding: 1em;
  margin-bottom: 1em;
  color: white;
}

.sidebar-right-links a {
  text-decoration: none;
  color: white;
}

.sidebar-right-links li:hover {
  box-shadow: 5px 5px 5px #888888;
}


/* content boxes */

.left-box {
  float: right;
  padding-right: 2em;
}

.left-box a {
  text-decoration: none;
}

.left-box img {
  transition: opacity 0.3s ease;
  width: auto;
}

.left-box img:hover {
  opacity: 0.5;
}

.right-box{
  padding-left: 2em;
  border-left: 1px solid black;
}

.right-box img{
  transition: opacity 0.3s ease;
  height: auto;
}

.right-box img:hover{
  opacity: 0.5;
}

.right-box a{
  text-decoration: none;
}
.full-box {
  margin-bottom: 1em;
  border-bottom: 1px solid black;
}
.full-box img {
  transition: opacity 0.3s ease;
}

.full-box img:hover {
  opacity: 0.5;
}
